<!doctype html>
<html>
<head>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>

  
<h2> Guide: Functions performed by the virtual Assistant</h2>
<br>
<h4> 1) Get the information of a particular person or a subject by using command:
		<br>
       who is "person_name" or what is "subject_name"</h4>
		<br>
		<br>
<h4> 2) Play a song or tutorial video from youtube using the command:	   
		<br>
		Play "video_name" </h4>
		<br>
		<br>
<h4> 3) Check the Current Time using the command:
		<br>
		What is the current time </h4>
		<br>
		<br>
		

</body>
</html>

